.login-form {
    padding: 10%;
    margin: 25% 10%;
    background-color: white;
    border-radius: 0;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,.3);

    form >div {
        padding: 1rem 0;
    }

    .form-group {
        margin: 0;
    }

    button {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .login-group{
        div {
            display: inline-block;
            vertical-align: middle;

            &:first-child {
                width: 5%;
            }

            &:last-child {
                width: 95%;
                text-align: right;
            }
        }
    }
}